
.description{
  max-width: 300px;
  background-color: var(--color-inverse-light);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  margin: 40px auto;
  padding: 1.3rem;

}
.descrition-text{
  font-size: 20px;
  align-items: center;
  color: #1F1F1F;


}
.button-cv{
  justify-content: center;
  background-color: var(--menu-nav);
  text-decoration: none;
  border-radius: 8px;
  padding: 1.5rem;
  transition: background-color 0.5s;

}
.button-cv:hover{
  background-color: var(--item-selected);
}
.text-button{
  font-size: 25px;
  color: var(--color-inverse-light);
}

.icon-down{
  color: var(--text-color);
  margin-left: .5em;
  font-size: 22px;
}
@media screen and (min-width: 750px) and (max-width: 900px){
  .description{
    max-width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .description{
    max-width: 900px;
    width: 70%;
  padding: 1rem;
  }
  .descrition-text{
    font-size: 25px;
  }
  .button-cv{
    padding: 2rem;
  }
  .text-button{
    font-size: 30px;
  }
  .icon-down{
    font-size:30px;
  }
}
