#contact{
  text-align: center;
}

.contact-title{
  font-size: 50px;
  padding-top: 120px;
}
.box-contact{
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 30px auto;
  justify-content: center;
}
.contact-card{
  background-color: var(--color-inverse-light);
  margin: 20px;
  height: 200px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  padding-top: 45px;
}
.contact-icon{
  font-size: 100px;
  transition: color 0.5S;
}
.mail-icon{
  color: #1F5A98;
}
.wsp-icon{
  color: #199D10;
}

.mail-icon:hover{
  color: var(--item-selected);
}
.wsp-icon:hover{
  color: #062504;
}
