.home{

  padding-top: 50px;
  padding-bottom: 100px;
}
.window{
  margin: 0 auto;
  height: 600px;
  width: 300px;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(3px);
  border: solid 1px rgba(255,255,255,0.5);
  border-radius: 5px;
  overflow: hidden;
}

.slidebar{
  background-color: rgba(0,0,0,0.2);
}


.profile-card{
  text-align: center;
  padding: 3rem 0;
}

.profile-card__img{
  border: solid 3px rgba(184,184,184,0.4);
  width: 230px;
  height: 300px;
  border-radius: 60px;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,0.7);
  }

.introduce{
  text-align: center;
  padding: .65rem;
}
.introduce_title{
  margin: 0;
  font-size: 50px;
}
.introduce_subtitle{
  font-size: 20px;
}
.box-icons{
  text-align: center;
  padding-bottom:  2rem;}

.card-icon{
  color: #1F5A98;
  font-size: 50px;
  margin: 0 0.2em;
  transition: color 0.5s;
}
.card-icon:hover{
  color: var(--item-selected);
}
@media screen and (min-width: 750px){
  .window{
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
.window{

  align-items: center;
  width: 70%;
  display: flex;
}
.slidebar{
  padding: 1.3rem;
  width: 350px;
  height: 100%;
}
.profile-card{
  padding: 3.2rem 0;
  margin: 0 auto;
}
.profile-card__img{
  height: 350px;
  width: 250px;
}
.introduce{
  padding: .65rem;
  margin: 0 auto;
}
.introduce_title{
  font-size: 130px;

}
.introduce_subtitle{
  font-size: 40px;
}

.card-icon{
  font-size: 55px;
}

}
