.header{
  background-color:var(--primari-color);
  height: 80px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0,0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 20px;
  z-index: 1000;
  }
.nav{
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
}
.logo{
  font-size: 30px;
  align-items: center;
  line-height: 80px;
  font-weight: bold;

}

.nav-menu{
  display: flex;
  list-style: none;
}

.nav-menu__item{
  padding: 0 15px;
}
.nav-menu-link{
 font-size: 20px;
 line-height: 80px;
 text-transform: uppercase;
 padding: .6em;
 border-radius: .5em;
}

.nav-menu-link:hover,.nav-menu-link_active{
  background-color: var(--item-selected);
}

.open-toggle,.close-toggle{
  display: none;
}

@media screen and (max-width: 780px) {
  .header{
    height: 60px;
    }

    .logo{
      font-size: 25px;
      line-height: 60px;

    }
  .nav-menu{
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: var(--menu-mobile-background-color);
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .nav-menu__item{
    padding: 0;
  }
  .nav-menu-link{
   font-size: 25px;
   line-height: 4em;
   text-transform: uppercase;
  }

  .open-toggle,.close-toggle{
    font-size: 30px;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-inverse-light);
  }
  .close-toggle{
    margin: 20px 20px 0 0;
    align-self: flex-end;
  }
  .menu-opened{
    opacity: 1;
    pointer-events: all;
  }
  .nav-menu-link:hover,.nav-menu-link_active{
    background: none;
    color: var(--item-mobile-selected);
  }

}

@media screen and (min-width: 780px) and (max-width: 900px) {
  .nav-menu-link{
   font-size: 18px;
  }
  .logo{
    font-size: 25px;

  }
}
