
.port-box{
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem auto;
  justify-content: center;
}

.card-box{
  background-color: var(--color-inverse-light);
  border-radius: 10px;
  width: 350px;
  height: 400px;
  margin: 32px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  padding-top: 2rem;
}

.img-section{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-section figure{
  position: relative;
  height: 250px;
  width: 300px;
  overflow: hidden;
}
.img-section figure .img-proyect{
  height: 100%;
}
.img-section figure .img-details{
  backdrop-filter: blur(3px);
  background: rgba(51, 51, 51, 0.2);
  border-radius: 7px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}
.img-details h3{
  font-weight: bold;
  color: var(--menu-mobile-background-color);
  margin-bottom: 140px;
  margin-top: 10px;
  transition: all 500ms ease-out;
}
.img-details h4{
  font-weight: bold;
  color: var(--menu-mobile-background-color);
  margin-bottom: 10px;
}
.img-section figure:hover >.img-details{
  opacity: 1;
  visibility: visible;
}
.img-section figure:hover > .img-details h3{
  margin-top: 60px;
  margin-bottom: 30px;
}
.icon-img{
  font-size: 40px;
  margin-left: 0.5rem;
}
.button-portfolio{
  text-decoration: none;
  background-color: var(--menu-nav);
  border-radius: 5px;
  font-size: 20px;
  padding: 0.5rem;
  color: var(--color-inverse-light);
  margin: 1.3em 0.5em;
}
.button-portfolio:hover{
  background-color: var(--item-selected);
  transition: 0.5s;
}
