.box{
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem auto;
  justify-content: center;
}


.skill-box{
  background-color: var(--color-inverse-light);
  margin: 1.3rem;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  padding: 2rem;

}

.icon{
  font-size:  50px;
}

.name-skill{
  font-size: 17px;
 font-weight: bold;
}
@media (min-width: 950px) {
  .skill-box{
    height: 200px;
    width: 180px;
    border-radius: 15px;
  }

  .icon{
    margin: 0 auto;
    font-size:  130px;
  }


  .name-skill{
    font-size: 20px;
  }


}
